.animated-gradient-text {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 65px; /* Adjust size */
  cursor: pointer;
   line-height: 1.2;
    transform: scaleY(1.0);
}

.text-content {
  display: inline-block;
  background: linear-gradient(90deg, #00f, #0ff, #0f0, #ff0, #f0f);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
